<div class="row">
  <div class="col-md-6">
    {{#link-to 'house'}}Upcoming House Bills{{/link-to}}

    <hr>

    {{outlet "house"}}

  </div>

  <div class="col-md-6">
    {{#link-to 'senate'}}Upcoming Senate Bills{{/link-to}}

    <hr>

    {{outlet "senate"}}

  </div>
</div>
